//
// Overrides
// --------------------------------------------------
//## Style rules that overrides the default theme's ones.
//## To make it easy to maintain and to avoid cascading problems,
//## just before the new rules, document the name of the Sass partial
//## where the original styles leave, group them per folder and keep
//## them in the same order as the original styles are imported to the main.scss.

//
// application/
// --------------------------------------------------


// _header.scss
// #secondary-menu {
//      margin-top: 14px;
// }

//_home.scss
// #home-watermark {
// 	background-position: right bottom;
// }
#nav-spaces, #home-spaces {
    background: rgb(136,153,117);
}
.new-tab{
    background-color:#f8f8f8;
    padding: 1.5em;
    .servico{
        border-top:0;
        margin-top:0;
        padding-top:0;
        h5 {
            margin-bottom:2px;
            margin-top:15px;
            font-size: 1em;
        }
    }
}

.bib-horario-dia {
    width: 90px;
    display: inline-block;
}

.search-filter--verified {
    display: none;
}

.search-filter--acessibilidade {
    display: none;
}

.btn-meu-museu-single {
    position:absolute;
    right:0;
    z-index:10000;
}

p.endereco {
    display: none;
}

ul.abas{
    @media print{
        display: none;
    }
}

.tabs-content .aba-content{
    @media print{
        display: block !important;
    }
}


body.controller-seal.action-printsealrelation.touch-device #main-section {
    margin-top: 0px;
}

#culturaviva-model {
    width: 1250px;
    background-color: #fcc209;
    overflow: auto;
    p.certificate-content {
        margin: 160px 126px 0px 190px;
        padding: 40px 0;
        font-size: 25px;
        line-height: 2.2rem;
        span.entity-name{
            font-size: 22px;
            font-style: italic;
        }
    }
    .footer {
        margin-top: 50px;
        .footer-signatures{
            width: auto;
            min-width: 580px;
            text-align: center;
            div{
                display: inline;
            }
        }
        width: 100%;
        text-align: right;
        div {
            position: relative;
            margin: 10px;
            vertical-align: bottom;
            display: inline-block;
        }
        div img {
            height: 80px;
        }
    }
}
